<div class="container" data-controller="message">
    <h1>lacrado private message</h1>
    
<% if @message && @message.views_remaining > 1 %>
        <p>This message will be deleted after being viewed <strong class="highlight"><%= pluralize(@message.views_remaining, 'more time') %></strong> or after <strong class="highlight"><%= @message.expiration_time.strftime("%A, %B %e, %Y at %l:%M %p") %></strong>, whichever comes first.</p>
<% else %>
        <p>This message will be <strong class="highlight">deleted after being viewed</strong> or after  
        <strong class="highlight"><%= @message.expiration_time.strftime("%A, %B %e, %Y at %l:%M %p") %></strong>, whichever comes first.</p>
<% end %>
<% if @message && @message.views_remaining > 0 %>
    
        <div data-message-target="decryptedContent" class="decrypted-message-paper" style="display: none;"></div>

                <!-- Decrypt form - shows password1 input if not in URL hash -->
                <div data-message-target="decryptForm">
                    <!-- Password1 input (shown only if not in URL hash) -->
                    <div data-message-target="password1InputContainer" style="display: none;">
                        <label>Encryption Key (password1)*:</label>
                        <br>
                        <input type="text" minlength="16" maxlength="16" placeholder="16-character key" required data-message-target="password1Input" id="decrypt-password1">
                        <br><br>
                    </div>
                    
                    <!-- Password2 input (shown only if password2_present flag is true) -->
                    <% if @message.password2_present %>
                        <div data-message-target="password2InputContainer">
                            <label>Password (password2)*:</label>
                            <br>
                            <input type="password" minlength="10" placeholder="**********" maxlength="64" required data-message-target="password2Input" id="decrypt-password2">
                            <br><br>
                        </div>
                    <% end %>
                    
                    <button data-action="message#decrypt" data-message-target="decryptButton" class="btn btn-primary">View message</button>
                </div>

    <input type="hidden" data-message-target="encryptedContent" value="<%= @encrypted_content %>">
    <!-- password1 is read from URL hash by JavaScript, never sent to server -->
    <input type="hidden" data-message-target="password1" value="">
    <input type="hidden" id="message-id" value="<%= @message.id %>">

    <% else %>
        <p><strong class="alert-error">This message has been self-destroyed</strong>. The link won't work anymore. Please, save in a secure way any important information from this message.</p>
    <% end %>
</div>