<div class="container" data-controller="message">
<h1>New lacrado self-destroying message</h1>
<%= form_with url: messages_path, method: :post, format: :html, data: { message_target: "form", turbo: false, action: "submit->message#create" } do |f| %>
    <div>
    <label>Message content*:</label>
    <!-- content is intentionally NOT a named form input so it is NOT submitted to the server -->
    <textarea rows="10" required maxlength="1000" placeholder="Type your secure message here..." data-message-target="content" id="message-textarea"></textarea>
    <div><span id="char-counter">0</span> / <span id="max-chars"></span> characters</div>
    <br>
    </div>
    
  <div>
  <label>Password (optional)</label><br>
  <!-- password2 is intentionally not a named form input so it is NOT submitted to the server -->
  <input type="password" minlength="10" placeholder="********" maxlength="64" data-message-target="password2" id="password2-input">
  between 10 and 64 characters

  <!-- hidden flag that indicates whether a password2 was provided (sent to server) -->
  <%= f.hidden_field :password2_present, value: false, data: { message_target: "password2Present" } %>

  </div>
    <p id="default-options"><small>by default, the message will be self-destroyed <strong>after being viewed 1 time or 3 days</strong>, whichever comes first.
    <br><a href="#" id="show-change-options">change auto-destroy options</a></small></p>
    <div>
    <fieldset id="change-options" style="display:none">
        <legend>Message options</legend>
        <p> The message will be destroyed after the selected number of views or the expiration time, whichever comes first. </p>
        <div>
            <label>Destroy the message after viewed*:</label>
            <%= f.number_field :views_remaining, value: 1, min: 1, max: 50 %> time(s)
        <div>
            <label>Expiration*:</label>
            <%= f.select :expiration_time, options_for_select(
                [
                    ["1 hour", "1_hour"],
                    ["3 hours", "3_hours"],
                    ["6 hours", "6_hours"],
                    ["12 hours", "12_hours"],
                    ["1 day", "1_day"],
                    ["3 days (default)", "3_days"],
                    ["7 days", "7_days"],
                    ["15 days", "15_days"],
                    ["1 month", "1_month"],
                    ["1 year", "1_year"]
                ], "3_days"), class: "form-select", required: true %>
        </div>

    
        
    </fieldset>
    <%= f.hidden_field :encrypted_content, data: { message_target: "encryptedContent" } %>
    <%= f.hidden_field :password1, data: { message_target: "password1" } %>
    <%= f.submit "Create Secure Link", class: 'btn btn-primary' %>
    </div>
  <% end %>
  
  </div> <!-- /container -->

  <script>
  // Hide show the fieldset 
  document.getElementById('change-options').style.display = 'none';
  document.getElementById('show-change-options').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default action of the link
    // Hide the paragraph
    document.getElementById('default-options').style.display = 'none';
    // Show the fieldset
    document.getElementById('change-options').style.display = 'block';
  });

  function formatInt(number) {
    return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  
  // only if not previously defined
  if (typeof messageTextarea == 'undefined') {
    const messageTextarea = document.getElementById('message-textarea');
    const maxChars = messageTextarea.getAttribute('maxlength'); // Get the max length from the attribute
    const charCounter = document.getElementById('char-counter');

    // Display the max characters in the counter
    document.getElementById('max-chars').textContent = formatInt(maxChars);

    // Update the counter on input
    messageTextarea.addEventListener('input', () => {
      const currentLength = messageTextarea.value.length;
      // Update the counter display
      charCounter.textContent = formatInt(currentLength);
      // Change the color to red if the user is over the 90%
      charCounter.style.color = currentLength >= (maxChars*0.9) ? 'red' : 'black';
    });
  }
  
</script>